<!-- FOOTER -->
<footer class="~pt-16/24 justify-center">
  <img
    class="m-auto w-[clamp(220px,24vw,80vw)] -mb-[2px]"
    src="/assets/svgs/Logo.svg"
    alt="KH - kosmetické studio"
    width="420"
    height="210"
    loading="lazy"
    decoding="async"
    aria-hidden="true"
    draggable="false"
  />
  <div class="bg-secondary py-8" id="kontakt">
    <h2 class="my-0">kontakt</h2>

    <div class="mx-auto lg:-mt-8 overflow-x-hidden">
      <div class="grid grid-cols-2 lg:grid-cols-[32%_25%_43%] gap-6">
        <div
          class="flex justify-center overflow-hidden rounded-r-full object-center"
        >
          <picture class="mx-0 ml-auto">
            <!-- Mobile (≤ lg) -->
            <source
              media="(max-width: 440px)"
              srcset="/assets/images/footer_mobile_img.png"
            />

            <img
              class="block h-64 w-auto max-w-none object-fit"
              src="/assets/images/footer_img.png"
              alt="footer-image"
              width="1413"
              height="942"
              loading="lazy"
              decoding="async"
            />
          </picture>
        </div>
        <div class="self-center">
          <h3 class="text-2xl sm:text-3xl text-left">
            Kristýna<br />Hromádková
          </h3>
        </div>
        <div
          class="max-lg:mt-6 max-lg:col-span-2 text-xl self-center flex justify-start items-center overflow-hidden"
        >
          <picture
            class="flex max-lg:w-24 overflow-hidden object-right justify-end"
          >
            <img
              class="block max-lg:h-32 w-auto max-w-none object-fit"
              src="/assets/svgs/Icon_kontakt.svg"
              alt="kontaktní informace"
              width="86"
              height="83"
              loading="lazy"
              decoding="async"
              aria-hidden="true"
              draggable="false"
            />
          </picture>

          <p class="text-xl leading-loose mx-8 lg:ml-12">
            <a href="tel:{{ client.phoneForTel }}"
              >{{ client.phoneFormatted }}</a
            ><br />
            <a href="mailto:{{ client.email }}">{{ client.email }}</a>
          </p>
        </div>
        <div
          class="max-lg:col-span-2 max-lg:mx-[10vw] lg:col-start-2 lg:-mt-10 leading-snug"
        >
          <strong>Parkování</strong><br />Nebojte se zaparkovat téměř u dveří
          studia nebo na příjezdové cestě hned za vstupní bránou salonu.
        </div>
        <div
          class="relative max-lg:col-span-2 max-lg:mx-[10vw] lg:-mt-10 leading-snug"
        >
          <strong>Salon</strong><br /><span class="max-md:hidden"
            >Dřevěný srub ve Veselí u Přelouče<br /></span
          >{{ client.address.lineOne }}<br />{{ client.address.zip }} {{
          client.address.city }}
          <a
            href="{{ client.socials.instagram }}"
            class="absolute right-0 bottom-[50%] -mb-[25px] lg:right-[14vw] lg:-bottom-20 hover:scale-150 transition-all duration-300"
            title="Instagram"
          >
            <img
              src="/assets/svgs/Icon_IG.svg"
              alt="instagram"
              width="50"
              height="50"
              loading="lazy"
              decoding="async"
              aria-hidden="true"
              draggable="false"
            />
          </a>
        </div>
      </div>

      <img
        class="w-auto m-auto mt-12 max-w-[85%]"
        src="/assets/svgs/Icon_slogan.svg"
        alt="cesta ke krásné pleti"
        width="536"
        height="96"
        loading="lazy"
        decoding="async"
        aria-hidden="true"
        draggable="false"
      />
    </div>
  </div>

  <iframe
    title="{{ client.name }} - mapa"
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5127.951095273809!2d15.615862886199956!3d50.01181352545111!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470c3556ce7e80bb%3A0x6928f43a92dc7695!2zQ2VzdGEga2Uga3LDoXNuw6kgcGxldGkgS3Jpc3TDvW5hIEhyb23DoWRrb3bDoQ!5e0!3m2!1scs!2scz!4v1772224859379!5m2!1scs!2scz"
    width="100%"
    height="400"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>

  <div class="bg-black text-white">
    <div class="flex items-center m-auto container max-lg:px-8">
      <div class="flex-auto md:text-base py-3 text-xs">
        <img
          alt="copyright icon"
          class="inline-block mr-4"
          src="/assets/svgs/copyright-light.svg"
          decoding="async"
          loading="eager"
          height="20"
          width="20"
        />
        tvoříme weby s radostí
      </div>
      <div class="py-3 flex-right">
        <a href="https://matfix.cz" target="_blank" title="Matfix"
          ><img
            alt="matfix icon"
            class="inline-block"
            src="/assets/svgs/matfix_test_black.svg"
            decoding="async"
            loading="eager"
            height="15"
            width="58" /></a
        ><img
          alt="footer icon"
          class="inline-block"
          src="/assets/svgs/tvorba_paticka.svg"
          decoding="async"
          loading="eager"
          height="20"
          width="20"
        />
      </div>
    </div>
  </div>
</footer>
<script src="/assets/js/main.js"></script>
