{% extends "layouts/base.njk" %} {% block body %}

<!-- PRED A PO  -->

<section id="pred-a-po">
  <div class="hero ~pt-16/24">
    <a href="/" title="na úvod" class="cursor-pointer after:hidden"
      ><img
        class="m-auto w-[300px] max-w-[50%] -mb-[2px]"
        src="/assets/svgs/Logo.svg"
        alt="KH - kosmetické studio"
        width="420"
        height="210"
        loading="lazy"
        decoding="async"
        aria-hidden="true"
        draggable="false"
    /></a>
  </div>

  <h2>před a po</h2>

  <div class="lg:w-1/2">
    <div class="max-lg:px-[10vw] lg:pl-[14vw]">
      <p>
        <strong>Vaše pleť může vypadat stejně krásně.</strong> Profesionální
        kosmetická péče pomáhá redukovat nedokonalosti, sjednotit tón pleti a
        podpořit její přirozený jas. Díky pravidelnému ošetření může být pleť
        viditelně zdravější, hladší a rozzářená.
      </p>
    </div>
  </div>

  <div class="result">
    <h3>problém 1</h3>
    <div>
      <img src="/assets/images/pred-a-po/1-1.png" alt="před" />
    </div>
    <div>
      <img src="/assets/images/pred-a-po/1-2.png" alt="po" />
    </div>
  </div>

  <div class="result">
    <h3>problém 2</h3>
    <div>
      <img src="/assets/images/pred-a-po/2-1.png" alt="před" />
    </div>
    <div>
      <img src="/assets/images/pred-a-po/2-2.png" alt="po" />
    </div>
  </div>

  <div class="result">
    <h3>problém 3</h3>
    <div>
      <img src="/assets/images/pred-a-po/3-1.png" alt="před" />
    </div>
    <div>
      <img src="/assets/images/pred-a-po/3-2.png" alt="po" />
    </div>
  </div>
</section>

{% endblock body %}
