{% extends "layouts/base.njk" %} {% block body %}

<!-- SLUZBY  -->

<section id="sluzby">
  <div class="hero ~pt-16/24">
    <a href="/" title="na úvod" class="cursor-pointer after:hidden"
      ><img
        class="m-auto w-[300px] max-w-[50%] -mb-[2px]"
        src="/assets/svgs/Logo.svg"
        alt="KH - kosmetické studio"
        width="420"
        height="210"
        loading="lazy"
        decoding="async"
        aria-hidden="true"
        draggable="false"
    /></a>
  </div>

  <h2>služby<br />a ceny</h2>

  <div class="lg:w-1/2">
    <div class="max-lg:px-[10vw] lg:pl-[14vw]">
      <p>
        Každá plet’ je jedinečná a zaslouží si osobní přístup. Proto společně
        vybereme ošetření, které přesně odpovídá vašim potřebám.
      </p>
      <p>
        <b>Po rozbalení níže najdete přehledně rozdělené služby</b> od prvního
        ošetření až po základní i intenzivní péči. K dispozici jsou také
        doplňkové procedury, liftingová ošetření, peelingy, konzultace vašich
        domácích produktů i
        <b
          >možnost zakoupení kosmetických produktů COSMEDIX nebo dárkových
          poukazů</b
        >
        pro vaše blízké.
      </p>
    </div>
  </div>

  <div
    class="w-full lg:flex-row px-8 my-8 md:my-16 sm:px-[clamp(4rem,10vw,14rem)] lg:px-[14vw]"
  >
    <div>
      <div
        x-data="{ active: 'cenik-1' }"
        x-effect="window.dispatchEvent(new CustomEvent('tab-changed'))"
        class="pricelist w-full grid grid-cols-1 lg:grid-cols-[minmax(280px,30%)_1fr]"
      >
        {% for kategorie in collections.pricelist | sortByOrder %}

        <a
          href="#cenik-{{ loop.index }}"
          @click.prevent="active = 'cenik-{{ loop.index }}'"
          :class="active === 'cenik-{{ loop.index }}' ? 'bg-secondary' : ''"
          class="tab lg:col-start-1 p-4 border-b lg:border-none transition-colors"
        >
          {{ kategorie.data.service }}
        </a>

        <div
          id="cenik-{{ loop.index }}"
          x-show="active === 'cenik-{{ loop.index }}'"
          x-transition:enter="transition ease-out duration-200"
          x-transition:enter-start="opacity-0 -translate-y-6"
          x-transition:enter-end="opacity-100 translate-y-0"
          class="lg:ml-28 lg:col-start-2 lg:row-start-1 lg:row-span-10"
        >
          {% if kategorie.data.display_list == true %}

          <table class="mb-8 w-full">
            {% for s in kategorie.data.item %}
            <tr>
              <td>
                {{ s.item }} {% if s.duration > 0 %} &nbsp;({{ s.duration }}
                min.){% endif %}
              </td>
              <td class="text-right">{{ s.value }} Kč</td>
            </tr>
            {% endfor %}
          </table>

          {% else %} {% if kategorie.data.item.length > 1 %}
          
          <div class="flex items-center justify-left my-8 max-lg:justify-center gap-6">
            <button class="embla-prev bg-primary hover:bg-secondary transition-colors duration-300 ease-in-out outline outline-1 aspect-square z-10 p-2 rounded-full">
              <img
                class="rotate-180 transition-none"
                src="/assets/svgs/Arrow.svg"
                alt="arrow"
                width="32"
                height="23"
                loading="lazy"
                decoding="async"
                aria-hidden="true"
                draggable="false"
              />
            </button>

            <div>
            <span class="text-xl font-baskervville leading-none">vyberte si z<br />více variant</span>
            <div class="embla__dots flex gap-2 mt-2"></div>
            </div>

            
            <button class="embla-next bg-primary hover:bg-secondary transition-colors duration-300 ease-in-out outline outline-1 aspect-square z-10 p-2 rounded-full">
              <img
                src="/assets/svgs/Arrow.svg"
                alt="arrow"
                width="32"
                height="23"
                loading="lazy"
                decoding="async"
                aria-hidden="true"
                draggable="false"
              />
            </button>
          </div>
          
          <div class="embla overflow-hidden">
            <div class="embla__container flex">
              {% endif %} {% for s in kategorie.data.item %}

              {% if kategorie.data.item.length > 1 %}
<div class="embla__slide flex-[0_0_100%]">
              
              {% else %}
<div class="mb-8">
              {% endif %}

                <p class="text-2xl leading-loose title-underline">
                  {{ s.value }} Kč {% if s.duration %} <br />{{ s.duration
                  }} min. {% endif %}
                </p>
                {{ s.description | markdown | safe }}
              </div>

              {% endfor %} {% if kategorie.data.item.length > 1 %}
            </div>
          </div>
          {% endif %} {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <p class="h2">zjistěte více<br />o službách</p>

  <div class="split reverse">
    <div>
      <img class=" " src="/assets/images/DSC06977.png" alt="" />
    </div>
    <div>
      <h3>lifting - omlazení<br />bez jehel</h3>
      <p>
        Manuální lifting obličeje (omlazení bez jehel) je přirozená metoda
        omlazení obličeje bez jehel, přístrojů a invazivních zásahů. Provádí se
        na sucho, pomocí speciálních masážních a liftingových technik.
      </p>
      <ul>
        Cílem ošetření je:
        <li>
          intenzivní manuální lifting: uvolnění svalového napětí v obličeji,
          krku a dekoltu
        </li>
        <li>
          zlepšení prokrvení a okysličení tkání podpora přirozené tvorby
          kolagenu
        </li>
        <li>viditelné vyhlazení rysů a svěžejší vzhled</li>
      </ul>
      <p>Výsledkem je odpočatý, projasněný a přirozeně vypnutý obličej.</p>
    </div>
  </div>

  <div class="split">
    <div>
      <img class=" " src="/assets/images/DSC06986.png" alt="" />
    </div>
    <div>
      <h3>peeling - šetrná<br />obnova pleti</h3>
      <p>
        Metabolické peelingy COSMEDIX jsou řízená obnova pleti bez agresivního
        olupování.
      </p>
      <p>
        Metabolické peelingy Cosmedix podporují přirozenou regeneraci pleti,
        aktivují buněčný metabolismus a zlepšují její strukturu, tón i celkovou
        kvalitu. Ošetření jsou šetrná, ale velmi účinná – bez nutnosti
        rekonvalescence.
      </p>
    </div>
  </div>

  <div class="split reverse">
    <div>
      <img class=" " src="/assets/images/DSC06878.png" alt="" />
    </div>

    <div>
      <h3>produkty<br />COSMEDIX</h3>
      <p>
        Největší změny na pleti se dějí mezi jednotlivými návštěvami v salonu. Proto vám pomohu nastavit domácí péči tak, aby výsledky nebyly jen krátkodobé, ale skutečně dlouhodobé a viditelné.
      </p>
      <p>Pro klientky, které chtějí dosáhnout opravdového posunu v kvalitě pleti, sestavím individuální domácí péči s produkty  <strong>COSMEDIX</strong>. Ráda vám také zkontroluji produkty, které již doma používáte – vysvětlím, zda jsou pro vaši pleť vhodné, a případně doporučím úpravu jejich používání nebo celého postupu péče.</p>
    </div>
  </div>

  <div class="split">
    <div>
      <img class=" " src="/assets/images/DSC06999.png" alt="" />
    </div>
    <div>
      <h3>darujte péči -<br />dárkový poukaz</h3>
      <p>
        Dárkový poukaz je skvělou možností, jak potěšit někoho blízkého a dopřát
        mu chvíli péče a relaxace.
      </p>
      <p>
        Poukazy nabízím na všechny mé služby a kosmetické produkty – stačí se mi
        jednoduše ozvat <b>telefonicky nebo e-mailem</b> a ráda vám poukaz
        připravím k osobnímu vyzvednutí. Poukazy jsou přenosné a mají stanovenou
        dobu platnosti pro jejich využití.
      </p>
    </div>
  </div>
</section>

{% endblock body %}
